@{
    ViewData["Title"] = "Objectives";
    @model IEnumerable<Trainer>

}

<h1 class="text-primary">Objectives</h1>
@Html.Partial("_TrainerObjectivesPartial", Model)
@*@Html.Partial("_CustomerObjectivesPartial")*@