@model IEnumerable<Speciality>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary">Speciality</h2>
        </div>
        <div class="col-2 text-right">
            <a asp-action="Create" class="btn btn-success">
                Create New Speciality
            </a>
        </div>
    </div>
    <div class="table">
        @foreach (var item in Model)
        {
            <div class="row border border-white">
                <h3 class="col-sm card-title"> @item.Name </h3>
                <h5 class="col-sm text-success"> @item.Id </h5>
                <a asp-action="Edit" asp-route-Id="@item.Id" class="col-sm btn btn-info">
                    Edit
                </a>
                <a asp-action="Delete" asp-route-Id="@item.Id" class="col-sm btn btn-info">
                    Delete
                </a>
            </div>
        }
    </div>
</div>